.row
  .large-8
    %h1 CodeChat
.row
  .large-12.columns
    #code
      - @messages.data.each do |key, msg|
        .msg
          = raw CodeRay.scan(msg, :ruby).div
    = form_for Event.new, remote: true do |f|
      = f.text_field :content
      = f.submit "Send", class: "button radius"