.container {
  width: 50%;
  margin: 0 auto;
}

.messages-index {
  input[type=text] {
    display: inline-block;
    width: 80%;
    font-size: 14px;
  }
}

#code {
  margin: 10px;
}

input.button {
  margin-left: 6px;
  padding: 7px 15px;
}

.reset {
  width: 50%;
  margin: 0 auto;
}

.lang-options {
  margin: 0.69em auto;
  width: 50%;
  font-size: 18px;
  select {
    margin-left: 10px;
    cursor: pointer;
    color: #666;
    -webkit-appearance: none;
    width: auto;
    border: 1px solid #f5f5f5;
    font-size: 44px;
    font-weight: bold;
  }
}