.container {
  width: 50%;
  margin: 0 auto;
}

.messages-index {
  input[type=text] {
    display: inline-block;
    width: 80%;
    font-size: 14px;
  }
}

#code {
  margin: 10px;
}

input.button {
  margin-left: 6px;
  padding: 7px 15px;
}

.reset {
  width: 50%;
  margin: 0 auto;
}

.lang-options {
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
  select {
    -webkit-appearance: none;
    width: auto;

  }
}